body{
    color: rgb(40, 5, 235);
    text-align: center;
    font-family:'century gothic';
    font-size: 1rem;
}

#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1rem solid #ddd;
    margin: 0 auto;
}

#container h1{
    font-size: 2rem;
    color: red;
}

#cabecera{
    background-color: aqua;
    color: blueviolet;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

#tagline{
    color: rgb(115, 187, 82);
    font-size: 1.5rem;
    text-transform: lowercase;
    text-shadow: 2rem;
}